strudel-editor.strudel {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

strudel-editor.strudel canvas {
  display: none !important;
}

strudel-editor.strudel .cm-editor {
  max-height: 6em;
}
