.strudel {
  display: block;      /* wichtig: Custom Elements sind sonst inline */
  width: 100%;
  height: 0px;       /* testweise groß */
  border: 1px solid #ccc;
  border-radius: 1px;
  overflow: auto;      /* statt hidden */
}
